<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Himalaya Project</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <script src= "js/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

</head>

<body>

<header class="hiker-box hidden-xs">
    <div class="logo"></div>
    <div class="fore-hiker"></div>
</header>

<div class="container">
    <section class="content">
        <article>
            <h1>
                Himalaya Project
            </h1>
            <hr>
            <p>Nuestra aplicación Web te ayuda a ti y tu equipo a estar organizado
                y al día con todas las tareas que componen un proyecto.
                Con multitud de funciones esta herramienta és la solución perfecta que tu negocio necesita.
            </p>
            <hr>
            <a href="/login"><button class = "loginbtn">Iniciar Sesión</button></a>
            <a  href="/register"><button class = "registerbtn">Registro</button></a>
        </article>

        <div class="product-blocks container-fluid">
            <div class="rectangle block columns four block-1 minht">
                <h5>Organización de tareas</h5>
                <img class="paralax_img" src="images/three.jpg" alt="">
                <p>Mantente a ti y  tu equipo organizado con una avanzada lista de tareas para llevar a cabo tu proyecto con resultados profesionales.</p>
                <p>
                    <a href="#tareas" class="button">Leer más</a>
                </p>
            </div>

            <div class="rectangle block columns four block-2 minht">
                <h5>Colabora con tu equipo</h5>
                <img class="paralax_img" src="images/two.jpg" alt="">
                <p>Trabaja de forma eficiente, en conjunto con tu equipo para hacer las entregas a tiempo con resultados de primera.</p>
                <p>
                    <a href="#equipo" class="button">Leer más</a>
                </p>
            </div>

            <div class="rectangle block columns four block-3 minht">
                <h5>Control de tiempo</h5>
                <img class="paralax_img" src="images/one.jpg" alt="">
                <p>Lleva el control de cada minuto que dedicas a tus proyectos para mostrar a tus clientes el esfuerzo que conlleva este proyecto.</p>
                <p>
                    <a href="#tiempo" class="button">Leer más</a>
                </p>
            </div>

        </div>
        <article  id="tareas">
            <h1>
                Organización de tareas
            </h1>
        </article>
        <div>
            <p>
                Mantente al día con las tareas que se te asignan y que asignas, mientras lidias con múltiples proyectos.
                Cada proyecto tiene lista de tareas, archivos , mensajes para fomentar el trabajo en equipo y costes de
                producción.
            </p>
            <hr>
            <img src="{{ asset('images/edificio.jpg') }}" width="100%"/>
        </div>

        <hr>


        <article id="equipo">
            <h1>
                Colabora con tu equipo.
            </h1>
        </article>
            <p>
                La comunicación és lo que construye o destruye cada uno de los proyecto.
                Esta aplicación esta pensada para facilitar la comunicación entre las personas de un mismo equipo
                y mantener-las concentradas con un mismo fin.
            </p>
            <hr>
            <img src="{{ asset('images/empresa.jpg') }}" width="100%"/>


        <article id="tiempo">
            <h1>
                Control del tiempo.
            </h1>
        </article>
            <p>
                Como ya saben el tiempo es oro y por lo tanto es de suma importancia llevar el recuento de la cantidad
                de horas dedicadas a un proyecto y a cada una de las tareas que se asignan a este .
                Con nuestra aplicación web podrás llevar el recuento y cobrar a tu cliente de forma correspondiente.
            </p>
            <hr>
            <img src="{{ asset('images/tiempo.jpg') }}" width="100%"/>

        <article></article>




    </section>

</div>
<footer>
    <div class="row footer-stuff">
        <div class="columns three">
            <strong>Encuentranos en :</strong>
            <ul>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Linked in</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </div>
        <div class="columns three">
            <strong>Otros proyectos</strong>
            <ul>
                <li><a href="">Proyecto K2</a></li>
                <li><a href="">Proyecto Kanchenjunga</a></li>

            </ul>
        </div>

        <div class="columns six">
            <p> <strong>Quieres recibir información?</strong> Lorem ip t corporis, laudantium maiores repudiandae dolorem, voluptatibus o bcaecati cupiditate!</p>
            <form action="" class="row">
                <div class="columns eight">
                    <input class="u-full-width" type="email" placeholder="Tu email">
                </div>
                <div class="columns four">
                    <input class="button-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</footer>

<!--Scripts-->


<script src="js/functions.js"></script>
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
