<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Himalaya Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

</head>

<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="hiker-box">
    <div class="logo"></div>
    <div class="fore-hiker"></div>
</header>

<div class="container">
    <section class="content">
        <article>
            <h1>
                Himalaya Project
            </h1>
            <hr>
            <button class = "btn-primary loginbtn"><a href="/login">Iniciar Sesión</a></button>
            <button class = "btn-primary registerbtn"><a  href="/register">Registro</a></button>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Expetenda tincidunt in sed, ex partem placerat sea, porro commodo ex eam. His putant aeterno interesset at. Usu ea mundi tincidunt, omnium virtute aliquando ius ex.
                Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur. Consetetur neglegentur eum ut, vis animal legimus inimicus id. His audiam deserunt in, eum ubique voluptatibus
                te.
            </p>
            <hr>
        </article>

        <div class="product-blocks row">
            <div class="block columns four block-1">
                <h5>Block Title</h5>
                <img src="images/one.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="" class="button">Read More</a>
                </p>
            </div>

            <div class="block columns four block-2">
                <h5>Block Title</h5>
                <img src="images/two.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="" class="button">Read More</a>
                </p>
            </div>

            <div class="block columns four block-3">
                <h5>Block Title</h5>
                <img src="images/three.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                    <a href="" class="button">Read More</a>
                </p>
            </div>

        </div>
        <article>
            <h1>
                Himalaya Project
            </h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Expetenda tincidunt in sed, ex partem placerat sea, porro commodo ex eam. His putant aeterno interesset at. Usu ea mundi tincidunt, omnium virtute aliquando ius ex.
                Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur. Consetetur neglegentur eum ut, vis animal legimus inimicus id. His audiam deserunt in, eum ubique voluptatibus
                te.
            </p>
            <hr>
        </article>



    </section>

</div>
<footer>
    <div class="row footer-stuff">
        <div class="columns three">
            <strong>Encuentranos en :</strong>
            <ul>
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Linked in</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </div>
        <div class="columns three">
            <strong>Otros projectos</strong>
            <ul>
                <li><a href="">Proyecto K2</a></li>
                <li><a href="">Proyecto Kanchenjunga</a></li>

            </ul>
        </div>

        <div class="columns six">
            <p> <strong>Quieres recibir información?</strong> Lorem ip t corporis, laudantium maiores repudiandae dolorem, voluptatibus o bcaecati cupiditate!</p>
            <form action="" class="row">
                <div class="columns eight">
                    <input class="u-full-width" type="email" placeholder="Tu email">
                </div>
                <div class="columns four">
                    <input class="button-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</footer>

<!--Scripts-->

<script src= "js/jquery.min.js"></script>
<script src="js/functions.js"></script>
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
