{% extends '::base.html.twig' %}

{% block body %}
    <div class="margen-iz">
        <h1>Upload</h1>
        {{ form_start(form) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.brochure) }}
        {{ form_end(form) }}
    </div>

{% endblock %}