{% extends '::base.html.twig' %}

{% block body %}
    <h1>Proyectos</h1>
    {% for proyecto in proyectos %}
        <div>
            <p>{{ proyecto.nombre}}</p>
            <p>{{ proyecto.descripcion}}</p>
            <p>{{ proyecto.categoria}}</p>
        </div>

    {% endfor %}
{% endblock %}