{% extends '::base.html.twig' %}

{% block body %}
    <h1>Proyectos</h1>
    {% for proyecto in proyectos %}
        <p>{{ proyecto.nombre}}</p>
        <p>{{ proyecto.descripcion}}</p>
        <p>{{ proyecto.categoria}}</p>
    {% endfor %}
{% endblock %}