.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}
.registerbtn{
    margin: 0 auto;
}
.loginbtn{
    margin: 0 auto;
}

h1{
    margin:5% !important;
}

button.btn-primary.registerbtn.registerbtn > a {
    text-decoration: none !important;
}
button.btn-primary.loginbtn > a {
    text-decoration: none !important;
}

html, body{
    height:100% !important;
    width: 100% !important;
}
.sidebar{
    height:100% !important;
}
.menu-vertical{
    overflow:hidden;
    background-color:#222222;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100% !important;
}
.sin-bordes{
    border:0;
}

.menu-vertical li.menu-item:hover{
    background-color: #080808;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        text-align: center;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}