.rounded-box {
    padding: 19px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.margin-bottom-md {
    margin-bottom: 15px;
}
.margin-bottom-lg {
    margin-bottom: 30px;
}
.registerbtn{
    margin: 0 auto;
}
.loginbtn{
    margin: 0 auto;
}

h1{
    margin:3% !important;
}

button.btn-primary.registerbtn.registerbtn > a {
    text-decoration: none !important;
}
button.btn-primary.loginbtn > a {
    text-decoration: none !important;
}

html, body{
    height:100% !important;
    width: 100% !important;
}
.sidebar{
    height:100% !important;
}
.menu-vertical{
    overflow:hidden;
    background-color:#222222;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100% !important;
    position:fixed;
}
.top-right-icon{
    position: absolute;
    top:0;
    right:-5px;
}
.delete:hover{
    color: red;
}
.edit:hover{
    color: blue;
}
.sin-bordes{
    border:0;
}
.icono{
    margin-right: 5%;
}

.menu-vertical li.menu-item:hover{
    background-color: #080808;
}

.tab-panels ul {
    margin: 0;
    padding: 0;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: #999;
    margin: 0;
    padding: 3px 10px;
    color: #fff;
    font-weight: 200;
    cursor: pointer;

}
.tab-panels ul li:hover {
    color: #fff;
    background: #666;
}

.tab-panels ul li.active {
    color: #fff;
    background: #666;
}

.tab-panels .panel {
    display:none;
    background: #c9c9c9;
    padding: 30px;
}

.tab-panels .panel.active {
    display:block;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        text-align: center;
    }
    .sidebar-nav .navbar li.menu-item {
        float: none;
        display: block;
        text-align: left;
        padding-left:15%;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
form {
    display: block !important;
}
