{% extends '::base.html.twig' %}

{% block body %}
    <h1>Planificaciones</h1>
    {% for planificacion in planificaciones %}
        <h1>Planificacion para {{ planificacion.nombre}}</h1>
    {% endfor %}
    <div style="height: 200px"></div>
{% endblock %}